html {
    position: relative;
    min-height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #22579e;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.full-width {
    width: 100%;
}

#fff-column {
    position: absolute;
    top: 55px;
    right: 0;
    display: block;
    width: 300px;
    padding-top: 10px;
    z-index: 1;
}

/* custom-search */
div.gsc-tabHeader.gsc-tabhActive, .gsc-refinementHeader.gsc-refinementhActive {
    font-weight: normal;
    color: #777
}

div.gsc-tabHeader.gsc-tabhInactive, .gsc-refinementHeader.gsc-refinementhInactive {
    font-weight: normal;
    color: #777
}

div.gs-title {
    margin-bottom: 1px;
}

div.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: #545454;
    line-height: 1.57;
    font-size: 14px;
}

#___gcse_0 .gs-webResult.gs-result a.gs-title:link, #___gcse_0 .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, #___gcse_0 .gs-imageResult a.gs-title:link b {
    margin: 0 0 8px 0;
    color: #1a0dab;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
}

.gs-result:hover .gs-title:hover, .gs-result:hover .gs-title:hover * {
    text-decoration: underline !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
    text-decoration: none !important;
}

div.gsc-url-top * {
    font-size: 16px;
    line-height: 1.5;
}

div.gsc-url-top{

}

div.gs-visibleUrl{
    padding-bottom:0!important;
}

div.gsc-webResult .gsc-result {
    padding-bottom: 34px;
    padding-top: 0;
}

div.searchresults {
    padding: 0 0 0 157px;
    position: relative;
    min-width: 1076px;
}

main div.gsc-control-cse {
    padding: 0 !important;
}

div.gsc-cursor div.gsc-cursor-page {
    font-size: 16px;

}

.paginator-a {
    font-size: 14px;
    color: #1a0dab;
    cursor: pointer;
}

.paginator-a:hover {
    text-decoration: underline;
}

.paginator-n {
    font-size: 14px;
    color: #444;
}

#paginator-left {
    margin-right: 32px;
}

div.gsc-cursor-box.gs-bidi-start-align div.gsc-cursor-page.gsc-cursor-page {
    margin-right: 35.5px;
}

div.gsc-results {
}

div.gsc-results .gsc-cursor {
}

div.gsc-cursor-box.gs-bidi-start-align div.gsc-cursor-page.gsc-cursor-page.gsc-cursor-current-page {
    color: #444;
    font-weight: normal;
}

div.gsc-cursor-box.gs-bidi-start-align div.gsc-cursor-page.gsc-cursor-page {
    color: #1a0dab;
    font-size: 16px;
}

div.gsc-result-info {
    color: #999999;
    font-size: 13px;
}

.header {
    height: 70px;
    border-bottom: 1px solid #ebebeb;
}

.header-inner {
    min-width: 883px;
}

.content {
    max-width: 1230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.width1200 {
    width: 1200px;
    margin-left: 4px;
}

.header__logo {
    margin-right: 8px;
}

.header__logo a {
    margin: 15px 0 13px 15px;
    display: block;
}

.header__logo img {
    width: 130px;
    height: 37px;
}

.form {
    width: 622px;
    min-width: 269px;
    padding: 0;
    border: 2px solid #ffda00;
    border-radius: 5px;
    height: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#search-input {
    margin: 0;
    font-size: 14px;
    height: 100%;
    max-width: 580px;
    border: none;
    background: none;
    border-right: 1px solid #e9e9e9;
    outline: none;
    padding: 1px 5px 0 5px;
    display: inline-block;
    float: left;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.header__search {
    padding-left: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#form_submit {
    font-size: 14px;
    background: none;
    border: none;
    height: 100%;
    color: #22579E;
    font-weight: bold;
    display: inline-block;
    outline: none;
    padding: 0 16px;
}

#form_submit:disabled, #form_submit[disabled] {
    color: #777;
}

.top-bar a, .tool-bar a {
    text-decoration: none;
}

.top-bar {
    margin-right: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 29px;
    height: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 13px;
}

.account button {
    float: right;
    padding: 0;
    margin-left: 14px;
    font-size: inherit;
    font-family: inherit;
    border: none;
    background: transparent;
    color: #22579e;
    cursor: pointer;
}

.tool-bar {
    height: 40px;
    border-bottom: 1px solid #ebebeb;
}

.tool-bar-inner-wrap {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 163px;
}

.tool-bar__search-indicator {
    color: #999999;
    font-size: 13px;
}

.search-tools {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    margin-left: 2em;
    width: 144px;
    height: 29px;
    text-align: center;
}

div.search-tools.isPressed {
    width: 144px;
    height: 29px;
}

div.search-tools.isPressed, div.search-tools-safety.isPressed {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 2px 3px 0 rgba(10, 9, 9, 0.13);
    box-shadow: inset 0 2px 3px 0 rgba(10, 9, 9, 0.13);
    border: solid 1px #d7d7d7;
    background-image: -o-linear-gradient(bottom, #e2e2e2, #f0f0f0);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e2e2e2), to(#f0f0f0));
    background-image: linear-gradient(to top, #e2e2e2, #f0f0f0);
}

div.search-tools.isPressed span {
    color: black;
}

div.search-tools .isHovered, .search-tools-safety .isHovered {
    width: 144px;
    height: 29px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(10, 9, 9, 0.1);
    box-shadow: 0 1px 1px 0 rgba(10, 9, 9, 0.1);
    border: solid 1px #c6c6c6;
    background-image: -o-linear-gradient(bottom, #f2f2f2, #fbfbfb);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#fbfbfb));
    background-image: linear-gradient(to top, #f2f2f2, #fbfbfb);
}

div.search-tools.isHovered span {
    color: black;
}

.search-tools span {
    width: 100%;
    height: 29px;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
    color: #22579e;
    display: block;
}

.search-tools-safety button {
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0);
    outline: none;
}

.search-tools-safety-wrap {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search-tools-safety button {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
}

.search-tools-safety button:focus {
    outline: none;
}

.search-tools-safety {
    width: 210px;
    float: right;
    margin-right: 19px;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-tools-safety span {
    margin: 0;
}

.search-tools-safety, div.isHovered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 29px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(10, 9, 9, 0.1);
    box-shadow: 0 1px 1px 0 rgba(10, 9, 9, 0.1);
    border: solid 1px #c6c6c6;
    border-radius: 3px;
    background-image: -o-linear-gradient(bottom, #f2f2f2, #fbfbfb);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#fbfbfb));
    background-image: linear-gradient(to top, #f2f2f2, #fbfbfb);
}

.tool-bar__additional {
    min-width: 810px;
    width: 100%;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tool-bar-btn, .tool-bar-btn-location {
    cursor: pointer;
    position: relative;
    margin-right: 31px;
}

.top-bar .tool-bar-btn {
    margin-right: 0;
}

.tool-bar-btn-location {
}

.tool-bar-btn-location .tool-bar-dropdown > div {
    border-bottom: 1px solid #d6d6d6;
}

div.tool-bar-btn-location .tool-bar-dropdown {
    color: #555;
    width: 235px;
}

.language-selector-scroll {
    max-height: 24em;
    overflow-y: scroll;
    margin: 12px -12px 0 0;
}

.lang-item {
    display: block;
    line-height: 24px;
}

.location-selector {
    padding: 12px 12px 12px 25px;
}

.location-selector form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

div.location-selector form .location-selector-text {
    width: 130px;
    height: 17px;
    line-height: 19px;
    margin-right: 7px;
    border: 1px solid #d6d6d6;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div.location-selector form .location-selector-text > input[type="text"] {
    width: 130px;
    height: 19px;
    margin-right: 7px;
    outline: none;
    border: none;
}

div.location-selector form input.location-selector-submit {
    width: 57px;
    height: 19px;
    background-color: #fff;
    background-image: -o-linear-gradient(bottom, #f1f1f1, #f5f5f5);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#f5f5f5));
    background-image: linear-gradient(to top, #f1f1f1, #f5f5f5);
    border: solid 1px #d9d9d9;
}

.location-description {
    font-size: 12px;
    padding-left: 33px;
}

.tool-bar-btn span:hover {
    color: black;
}

.tool-bar-btn span {
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #777;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
}

.tool-bar-btn span:last-letter {

}

.tool-bar-dropdown {
    padding: 4px 0 4px 0;
    top: 18px;
    left: -28px;
    position: absolute;
    -webkit-box-shadow: 0 3px 3px 0 rgba(10, 9, 9, 0.15);
    box-shadow: 0 3px 3px 0 rgba(10, 9, 9, 0.15);
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    background-color: #fff;
    z-index: 1;
    display: none;
}

.tool-bar-dropdown-item {
    padding-right: 16px;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tool-bar-dropdown-item span a, .tool-bar-dropdown-item span a:visited {
    white-space: nowrap;
    color: #777;
    text-decoration: none;
}

.tool-bar-dropdown-item span:hover {
    color: #777;
}

.tool-bar-dropdown-item:hover {
    background-color: #f1f1f1;
}

.source-dropdown {
    width: 300px;
}

.source-dropdown button {
    cursor: pointer;
}

.check-icon img {
    opacity: 0;
}

.check-icon-empty, .check-icon {
    margin: 4px 6px 0 10px;
    height: 16px;
    width: 16px;
}

.check-icon {
    background-repeat: no-repeat;
    background-image: url('/img/check.png');
}

#src input {
    width: 160px;
    border: 1px solid #c1c1c1;
}

#src button {
    width: 86px;
}

.page-content {
    background-color: rgba(34, 87, 158, 0);
    overflow: hidden;
    zoom: 1;
    position: relative;
}

.search-results {
    padding-left: 136px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.search-results-left {
    width: 55%;
    padding-right: 77px;
}

.search-results .search-results-left .advert-sector {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 14px;
}

.search-results-right {
    width: 34%;
    padding-right: 100px;
}

.advert-label {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    display: inline-block;
    height: 14px;
    border-radius: 2px;
    background-color: #efc439;
    color: white;
    margin: 21px 0 11px 0;
    padding: 0 3px;
    text-align: center;
}

.search-result-item {
    margin-bottom: 12px;
}

.advert-sector-invitor {
    font-size: 11px;
}

.search-result-item a {
    text-decoration: none;
    color: #1a0dab;
    margin-top: 32px;
}

.search-result-item a h3.title {
    margin: 0 0 3px 0;
    color: #1a0dab;
    font-weight: 500;
    line-height: 16px;
    font-size: 18px;
}

.search-result-item a p.search-result-item-uri {
    color: #006627;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.search-result-description {
    color: #555;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
}

.search-result-item-sublinks a {
    color: #1a0dab;
    font-size: 13px;
    margin: 0;
}

.search-results-normal {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 14px;
}

.search-results-left-paginator a {
    text-decoration: none;
    color: #1a0dab;
}

.search-results-left-paginator {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 24px 0 32px 0;
}

.paginator-page-number {
    font-size: 16px;
}

.paginator-back, .paginator-forward {
    font-size: 14px;
}

.search-results-left-paginator .disable {
    color: #444;
    cursor: default;
}

.search-results-left-paginator .enable {
    color: #1a0dab;
}

.label-box * {
    font-size: 11px;
}

.label-box span {
    font-size: 11px;
    margin: 1px 5px;
    display: block;
}

.label-box {
    border-radius: 2px;
    background-color: #efc439;
    display: inline-block;
    float: left;
    margin: 12px 0 0 0;
}

.gsc-resultsbox-visible {
    width: 652px;
}

#footer {
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#footer a:hover {
    text-decoration: underline;
}

#footer a {
    margin: 0 5px;
    text-decoration: none;
}

#footer > div {
    color: #999999;
    font-size: 12px;
    height: 30px;
    padding-left: 163px;
}

::-webkit-input-placeholder { /* Edge */
    color: #c0c0c0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c0c0c0;
}

::-moz-placeholder {
    color: #c0c0c0;
}

::-ms-input-placeholder {
    color: #c0c0c0;
}

::placeholder {
    color: #c0c0c0;
}

button {
    background-color: whiteSmoke;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #5f5f5f;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    outline: none;
}

button:hover {
    color: #444;
}

button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"] {
    border-radius: 2px;
    height: 22px;
    line-height: 2em;
    outline: none;
    margin: 0 .5em 0 0;
    padding: 0 .5em 0 .5em;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {

    background-color: #fff;
    border: 1px solid #ACACAC;
    border-radius: 0 0 3px 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 541px!important;
}

.ui-menu-item {
    cursor: default;
    margin: 0;
}

.ui-menu-item a {
    color: black;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.ui-menu-item:hover a, .ui-menu-item-hovered a {
    color: #fff;
}

.ui-menu-item:hover, .ui-menu-item-hovered {
    background-color: #3875d7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
    background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
}

div.gsc-adBlock {
    width: 645px;
    height: auto !important;
}

#hl {
    min-width: 100px;
    margin-left: 12px;
}

#main {
    margin-bottom: 100px;
}

div.gsc-results div.gsc-cursor-box {
    margin: 27px 0;
}

div.gsc-above-wrapper-area {
    padding: 9px 0 2px 0;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    text-decoration: none !important;
    font-weight: bold !important;
}

.arrow-down{
    font-size: 17px;
    line-height: 13px;
}

#relatedsearches1 {
    width: 645px;
    margin:1em;
}